.address {
  margin-right: 80px;
}

.address__links {
  font-style: normal;
  @include font(14px, 400, 1.71, 0.03em);
  color: map-get($colors, "light");
  margin-top: 20px;
}

.address__link .contact {
  opacity: 0.6;
}

.address__link:not(:last-child) {
  margin-bottom: 9px;
}

/* .address {
  margin-right: 80px;
}

.address__links {
  font-style: normal;
  @include font(14px, 400, 1.71, 0.03em);
  color: map-get($colors, "light");
  margin-top: 20px;
}

.address__link .contact {
  opacity: 0.6;
}

.address__link:not(:last-child) {
  margin-bottom: 9px;
}

 */