
.client__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .icon {
    fill: #afb1b8;
  }
  
  .client__link {
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .client__link:hover,
  .client__link:focus {
    border-color: var(--blue);
    transition: border-color 250ms var(--cubic-bezier);
  }
  
  .client__link:hover .icon,
  .client__link:focus .icon {
    fill: var(--blue);
    transition: fill 250ms var(--cubic-bezier);
  }
  