.logo {
    font-family: "Relaway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.03em;
    text-align: left;
    margin-right: 93px;
  }
  
  .logo__web {
    color: var(--blue);
  }
  
  .logo__studio {
    color: var(--white);
  }