.team {
  background-color: map-get($colors, "team");

  &__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__item {
    background-color: map-get($colors, "light");
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    margin: 0;
  }

  &__label {
    padding: 30px 32px;
  }

  &__description {
    color: map-get($colors, "contact");
    @include font(16px, 400, 1, 0.03em);
    text-align: center;
    margin: 0;
    margin-top: 10px;
  }
}

/* .team {
  background-color: map-get($colors, "team");
}

.team__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.team__item {
  background-color: map-get($colors, "light");
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  margin: 0;
}

.team__label {
  padding: 30px 32px;
}

.team__description {
  color: map-get($colors, "contact");
  @include font(16px, 400, 1, 0.03em);
  text-align: center;
  margin: 0;
  margin-top: 10px;
}
 */
