.work__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.work__image {
  margin: 0;
}

.work__image:not(last-child) {
  margin-right: 30;
}

.work__cards figure {
  position: relative;
  height: 294px;
}

.work__cards figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: map-get($colors, "boxed");
}

.work__label {
  padding: 27px 0;
  margin: 0;
  color: map-get($colors, "light");
  @include font(14px, 700, 1, 0.03em);
  text-align: center;
  text-transform: uppercase;
}
